<footer class="footer mt-4 py-3">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card mt-2 card-footer">
          <p class="text-muted">SOBRE YOU STORE</p>
          <p class="text-muted">Libro de reclamaciones</p>
           <p class="text-muted">Sobre nosotros</p>
           <p class="text-muted">Nuestros clientes</p>
           <p class="text-muted">Terceros encargados de tratamientos</p>
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mt-2 card-footer">
           <p class="text-muted">YOU STORE DIGITAL</p>
          <p class="text-muted">Zonas de cobertura</p>
           <p class="text-muted">Legales de campaña</p>
           <p class="text-muted">Terminos y condiciones</p>
           <p class="text-muted">Politicas de privacidad</p>
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mt-2 card-footer">
           <p class="text-muted">CONTÁCTANOS</p>
          <p class="text-muted">Consultas y sugerencias</p>
           <p class="text-muted">Call Center (Lima)- (939) 910 911</p>
           <p class="text-muted">You Store fono (Lima) -(01) 485 9511</p>
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card mt-2 card-footer">
           <p class="text-muted">SÍGUENOS</p>
           <div class="row">
             <div class="col-sm-1 mx-2">
               <p class="text-muted h2"><i class="fab fa-facebook-square" aria-hidden="true"></i></p>
             </div>
             <div class="col-sm-1 mx-2">
               <p class="text-muted h2"><i class="fab fa-instagram" aria-hidden="true"></i></p>
             </div>
           </div>
          <p class="h5 mt-4 text-muted"><i class="fas fa-book-open" aria-hidden="true"></i> Libro de reclamaciones</p>
         </div>
      </div>
    </div>
 </div>
</footer>

<div>
  <div class="text-center">
  <p class="navbar-text text-center text-muted p-0" style="font-size: small;">Copyright <i class="far fa-copyright" aria-hidden="true"></i>
      YOU STORE 2020 todos los derechos reservados
    </p>
</div>
</div>
