<app-header  ></app-header>

<section class="container mt-4">
    <div class="col-sm-8">
      <div class="card card-body" *ngIf="compra">


        <table class="table  text-white">
          <thead>
            <tr>
              <th >#</th>
              <th >producto</th>
              <th>precio</th>
              <th >cantidad</th>
              <th >importe</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let itemm of compra.items">
              <th >{{itemm.id}}</th>
              <td>
                <img src="http://localhost:8084/api/uploads/img/{{itemm.producto.imagen}}" width="70" height="70" class="img-fluid" alt="">
                {{itemm.producto.nombre}}</td>
              <td>S/{{itemm.producto.precio}}.00</td>
              <td>{{itemm.cantidad}}</td>
              <td>S/{{itemm.importe}}.00</td>
            </tr>
          </tbody>
        </table>

        <div class=" d-flex justify-content-end mr-2">
          <span class="btn-success btn">TOTAL: {{total |currency: 'S/'}}</span>
        </div>



    </div>

  </div>

</section>


