<app-header  ></app-header>

<div class="card container col-lg-8 col-md-10  mt-4" style=" margin: auto;" *ngIf="compra">
  <div class="card-body" >

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">producto</th>
        <th scope="col">precio</th>
        <th scope="col">cantidad</th>
        <th scope="col">importe</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let itemm of compra.items">
        <th scope="row">{{itemm.id}}</th>
        <td>
          <img src="http://localhost:8084/api/uploads/img/{{itemm.producto.imagen}}" width="70" height="70" class="img-fluid" alt="">
          {{itemm.producto.nombre}}</td>
        <td>S/{{itemm.producto.precio}}.00</td>
        <td>{{itemm.cantidad}}</td>
        <td>S/{{itemm.importe}}.00</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
