<detalle-producto *ngIf="productoSeleccionado" [producto] ="productoSeleccionado"></detalle-producto>


<swiper
        [config]="swiperConfig"
        class="my-swiper"

        >
      <ng-template  swiperSlide *ngFor="let producto of productos">
        <div class="card  product mx-2" style=" border: none;  padding: 14px 14px 21px;"  *ngIf="productos?.length > 0" >
          <div class="card-header" *ngIf="authService.hasrole('ROLE_ADMIN')">
            <button  type="button" name="button" [routerLink]="['/productos/form', producto.id]"
               class="btn mt-2 mx-1" style="border-radius:50%;"><i class="far fa-edit"></i></button>
            <button  type="button" name="button" (click)="abrirModal(producto)"
               class="btn mt-2 mx-1" style="border-radius:50%;"><i class="fas fa-camera"></i></button>
            <button  type="button" name="button" (click)="delete(producto)"
              class="btn mt-2 mx-1"><i class="fas fa-trash-alt"></i></button>
          </div>
          <section>
            <div [routerLink]="['/producto', producto.nombre]"  style="display:flex; margin: auto; cursor: pointer; outline: none;
            width: 192px; height: 192px; padding: 10%; justify-content: center; align-items: center;">
              <img  *ngIf="producto?.imagen" class="img-fluid" style="vertical-align: middle;
              border-style: none; width: 100%; "
              src="{{producto.imagen}}" >
              <img  *ngIf="!producto?.imagen" class=" img-fluid"
              src="{{urlBackend}}/images/not-image-cuadrado.png" alt="sin imagen" >
            </div>
          </section>
          <section>
            <div class="product-contenido">{{producto.descripcion}}</div>
            <div class="product-name">{{producto.nombre}}</div>
            <div class="price-content">{{producto.precio | currency : 'S/' }}</div>

          </section>
          <app-button-item-cantidad [producto]="producto"></app-button-item-cantidad>

        </div>
      </ng-template>
    </swiper>
