<app-header></app-header>


<section class="container mb-3">
  <ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>

  <div class="card col-lg-5 col-md-7 mt-4 p-3 " style="margin:auto" >
    <h3 class="h5">Publica tu producto</h3>
    <div class="dropdown-divider"></div>
    <form>
      <div class="form-group-row">
        <label for="nombre" class="col-form-label col-sm ">Nombre</label>
        <div class="col-sm">
          <input type="text" class="input" [(ngModel)]="producto.nombre" name="nombre">
        </div>
      </div>
      <div class="form-group-row">
        <label for="descripcion" class="col-form-label col-sm">Descripción</label>
        <div class="col-sm">
          <textarea name="descripcion" class="input" [(ngModel)]="producto.descripcion" cols="80"></textarea>
        </div>
      </div>
      <div class="form-group-row">
        <label for="categoria" class="col-form-label col-sm">Categoria</label>
        <div class="col-sm">
          <select [compareWith]="comprararCategoria" name="categoria" class="input"  [(ngModel)]="producto.categoria" >
            <option [ngValue]="undefined" >--Seleccionar una categoria--</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="form-group-row">
        <label for="precio" class="col-form-label col-sm">Precio</label>
        <div class="col-sm">
          <input type="number" class="input" [(ngModel)]="producto.precio" name="precio">
        </div>
      </div>
      <div class="form-group-row">
        <label for="stock" class="col-form-label col-sm">Stock</label>
        <div class="col-sm">
          <input type="number" class="input" [(ngModel)]="producto.stock" name="stock">
        </div>
      </div>

      <div class="frow mt-3"  >
        <div class="col-sm">
          <button class="btn btn-success btn-block" role="button" (click)="create()" *ngIf="!producto.id else elseBlock">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-success btn-block" role="button" (click)="update()">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>

</section>
