
<app-header  ></app-header>

<app-slider ></app-slider>


  <div class="container my-2 text-left">
    <button *ngIf="authService.hasrole('ROLE_ADMIN')" type="button" [routerLink]="['/productos/form']" name="button" class="btn btn-danger mx-2 btn-social">Crear Producto</button>
    <button *ngIf="authService.hasrole('ROLE_ADMIN')" type="button" [routerLink]="['/categorias/form']" name="button" class="btn btn-info mx-2 btn-social">Crear Categoria</button>
  </div>


  <div class="container alert alert-info" *ngIf="productos?.length==0">
    No hay registro en la base de datos!
  </div>

  <section>
    <main class="container ">
      <div class="col p-0 mt-3">
        <div class="product-title">
          <div class="d-flex align-items-center">
            <span class="heading">Todos nuestros productos al mejor precio</span>
          </div>
        </div>
      </div>
    </main>
    <main class="container">
      <div class="col">
        <app-listar-producto [productos]="productos"></app-listar-producto>
      </div>
    </main>
  </section>

  <section>
    <main class="container ">
      <div class="col p-0 mt-3">
        <div class="product-title">
          <div class="d-flex align-items-center">
            <span class="heading">Todos nuestros productos para bebes y niños</span>
          </div>
        </div>
      </div>
    </main>
    <main class="container">
      <div class="col">
        <app-listar-producto [productos]="productosBebes"></app-listar-producto>
      </div>
    </main>
  </section>


<app-footer></app-footer>
