
.login-modal{
  max-height: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
  width: 100%;
}

input.example-right-align {
  -moz-appearance: textfield;
}


.btn-social{

  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(41 48 59 / 24%), 0 0 2px 0 rgb(41 48 59 / 12%);
}



